<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
<body>
  <div class="container">
    <div class="header">

      <span class="tagline">
        <h1> Actual Beer </h1>
        <img src="<%= url('/actual.png') %>" />
      </span>

    </div>
    <div class="main-body">
      <table class="table-header-rotated">
        <tr>
          <th class="hidden small-cell-hidden"/>
          <th class="rotate-45">
            <div>
              <span>
                Hoppy
              </span>
            </div>
          </th>
          <th class="rotate-45">
            <div> 
              <span>
                Malty
              </span>
            </div>
          <th class="rotate-45">
            <div>
              <span>
                Nitro
              </span>
            </div>
          </th>
          <th class="rotate-45">
            <div> 
              <span>
                Weird
              </span>
            </div>
          </th>
          <th class="rotate-45" id="abv-head">
            <div> 
              <span>
                ABV
              </span>
            </div>
          </th>
        <th class="hidden"/>
        <th class="rotate-45">
            <div> 
              <span>
                Growler
              </span>
            </div>
          </th>
        <th class="rotate-45">
            <div>
              <span>
                Taster
              </span>
            </div>
          </th>
        <th class="rotate-45">
            <div>
              <span>
                10 oz
              </span>
            </div>
          </th>
        <th class="rotate-45">
            <div> 
              <span>
                Pint
              </span>
            </div>
          </th>
        <th class="hidden small-cell-hidden"/>
        </tr>
        <!-- end header --!>
        <tr class="data 1">
          <td class="id">
            1
          </td>
          <td class="hoppy">
            <div class="dot-empty"></div>
          </td>
          <td class="malty">
            <div class="dot-empty"></div>
          </td>
          <td class="nitro"> 
            <div class="dot-filled"></div>
          </td> 
          <td class=weird>
            <div class="dot-filled"></div>
          </td>
          <td class="abv">
            3.4
          </td>
          <td class="beer-desc">
            <span class="beer-name"> Photon </span>
            <span class="beer-type"> Light Lager </span>
          </td>
          <td class="price-growler">
            8
          </td>
          <td class="price-taster">
            2
          </td>
          <td class="price-tenoz">
            3
          </td>
          <td class="price-pint">
            4
          </td>
          <td class="tap-handle">
            <span class="tap-square"></span>
          </td>
        </tr>
        <tr class="data 2">
          <td class="id">
            2
          </td>
          <td class="hoppy">
            <div class="dot-empty"></div>
          </td>
          <td class="malty">
            <div class="dot-filled"></div>
          </td>
          <td class="nitro"> 
            <div class="dot-filled"></div>
          </td> 
          <td class=weird>
            <div class="dot-filled"></div>
          </td>
          <td class="abv">
            5.6
          </td>
          <td class="beer-desc">
            <span class="beer-name"> Luxon </span>
            <span class="beer-type"> Golden Saison </span>
          </td>
          <td class="price-growler">
            12
          </td>
          <td class="price-taster">
            3
          </td>
          <td class="price-tenoz">
            5
          </td>
          <td class="price-pint">
            8
          </td>
          <td class="tap-handle">
            <span class="tap-square"></span>
          </td>
        </tr>
        <tr class="data 3">
          <td class="id">
            3
          </td>
          <td class="hoppy">
            <div class="dot-empty"></div>
          </td>
          <td class="malty">
            <div class="dot-empty"></div>
          </td>
          <td class="nitro"> 
            <div class="dot-empty"></div>
          </td> 
          <td class=weird>
            <div class="dot-filled"></div>
          </td>
          <td class="abv">
            5.6
          </td>
          <td class="beer-desc">
            <span class="beer-name"> Magnon </span>
            <span class="beer-type"> India Pale Ale </span>
          </td>
          <td class="price-growler">
            10
          </td>
          <td class="price-taster">
            2
          </td>
          <td class="price-tenoz">
            5
          </td>
          <td class="price-pint">
            8
          </td>
          <td class="tap-handle">
            <span class="tap-square"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
