<html>
<head></head>
<body>
  <div class= "containter">
    <div class="header">
      <ul class="titles">
        <li>Hoppy</li>
        <li>Malty</li>
        <li>Nitro</li>
        <li>Weird</li>
        <li>ABV</li>
      </ul>
      <h1> Actual Beer </h1>
      <img src=""/>
      <ul class="titles small">
        <li>Growler</li>
        <li>Taster</li>
        <li>10 oz</li>
        <li>Pint</li>
      </ul>
    </div>
  </div>
</body>
</html>
